# Dependency directories
vendor/
node_modules/

# Go workspace file
go.work
go.work.sum

# Compiled output
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment variables (JANGAN DI-UPLOAD!)
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db